/* *   {
	Box-sizing: border-box;
	Margin: 0;
	Padding: 0;
}
Perchè dovrei sempre metterlo? Posso preferire inserire regole per ogni tag?
*/

/* header  */
.inline-b {
    display: inline-block;
}

img, h1 {
    vertical-align: middle;
}

.middleline {
    margin: auto 10px;
}

/* main - contenitore 1 */
main {
  background: #d3d3d3d0; 
  height: 1000px; 
}

/* contenitore 2 */
#section01 {
    background: white;
    height: 80%;
    width: 80%;
    display: inline-block;
    margin: 30px 150px;
}


