/* * {
	Box-sizing: border-box;
	Margin: 0;
	Padding: 0;
} */
/* devo farlo? se si, perchè?  */

/* common  */
.radius {
    display: inline-block;
    font: 400 13.3333px Arial;
    border-style: outset;
    padding: 5px;
    border-radius: 10px;
}

.blue {
    background-color: royalblue;
    color: white;
}


/* header  */
.inline-b {
    display: inline-block;
}

img, h1 {
    vertical-align: middle;
}

.middleline {
    margin: auto 10px;
}

/* main - contenitore 1 */
main {
  background: #d3d3d3d0; 
  margin: 10px;
  padding: 15px; 
}

/* contenitore 2 */
#section01 {
    background: white;
    width: 80%;
    margin: 25px auto;
    border-radius: 5px;
}

/* header del contenitore 2 */
#header02 {
    padding: 10px;   
    margin: 5px 30px;
}

/* button header  */
button {
    padding: 5px;
    border-radius: 5px;
}

#button-task {
    color: white;
    background-color: royalblue;
    border-color: royalblue;
}

#button-sect {
    color: lightgrey;
    background-color: white;
    border-color: lightgrey;
}

hr {
    border-color: #d3d3d329;
}

/* section 2 grossa - comprensiva di 3 ramificazioni */
.section02 {
    padding: 10px;
    margin: 5px 30px;
}

.arrow {
    width: 3px;
}

/* div 1/3 parte section 02 */

ul {
    list-style-image: url('sqpurple.gif');
    list-style-type: none;
    margin: 0;
    padding: 0;
}

