/* *   {
	Box-sizing: border-box;
	Margin: 0;
	Padding: 0;
}
Perchè dovrei sempre metterlo? Posso preferire inserire regole per ogni tag?
*/

/* common  */
.blue {
    background-color: rgb(90, 90, 236);
}

/* header  */
.inline-b {
    display: inline-block;
}

img, h1 {
    vertical-align: middle;
}

.middleline {
    margin: auto 10px;
}

/* main - contenitore 1 */
main {
  background: #d3d3d3d0; 
  height: 1000px; 
}

/* contenitore 2 */
#section01 {
    background: white;
    height: 80%;
    width: 80%;
    display: inline-block;
    margin: 20px 50px;
    border-radius: 5px;
}

/* header del contenitore 2 */
#header02 {
    margin: 15px 30px;
}

button {
    border-radius: 5px;
}